:root{
    --primary-color: #3C4048;
    --secondary-color: #00ABB3;
    --gray: #B2B2B2;
    --old-white: #EAEAEA;
    --font: 'Red Rose', cursive;
    --tittle-size: 3.5rem;
    --subtittle-size: 2rem;
    --paragraph-size: 1.3rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: var(--font);
}
main{
    margin-bottom: 100px;
}



/* POLICIES LIST */
.policies-list{
    width: 90%;
    margin: 24px auto;
}
.policie{
    display: flex;
    align-items: center;
    height: 40px;
    font-size: var(--paragraph-size);
    font-weight: 300;
    list-style: none;
    border: 1px solid gray;
    padding: 0 8px;
}
.policie a{
    text-decoration: none;
    color: var(--primary-color);
}

.main-area h1{
    font-size: var(--tittle-size);
    text-align: center;
    margin-bottom: 64px;
}



/* HOW  TO BUY CONTAINER */
.how-to-buy-container .step-container:nth-child(8){
    margin-top: 24px;
    text-align: justify;
}
.step-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 16px 5%;
}
.step-container span{
    width: 5%;
    font-size: var(--tittle-size);
    color: var(--secondary-color);
}
.step-container p{
    width: 90%;
    font-size: var(--paragraph-size);
    padding: 0 2.5%;
    font-weight: 300;
}
.tips{
    margin: 20px 5%;
    font-weight: 300;
    color: var(--primary-color);
}
.tips li{
    width: 95%;
    margin: 0 5%;
    list-style: none;
}



/* PAYMENTS */
figure{
    width: fit-content;
    display: block;
    margin:  24px auto;
}
.payments-img{
    width: 200px;
}



/* PRICES */
.ul{
    width: fit-content;
    margin: 24px 10%;
    font-size: var(--paragraph-size);
}
.title, .subtitle{
    text-align: center;
    margin-top: 80px;
}
.title{
    font-size: var(--tittle-size);
}
.subtitle{
    font-size: var(--subtittle-size);
    color: var(--gray);
}
.paragraph{
    width: 90%;
    font-size: var(--paragraph-size);
    color: var(--primary-color);
    margin: 24px auto;
}

.inactive{
    display: none;
}


@media (min-width: 601px) {
    .mobile-menu{
        display: none;
    }
    .navbar-menu-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 16px 24px;
        transform: translate(0);
        position: static;
    }
    .mobile-cart-icon{
        display: none;
    }
    .mobile-cart-container{
        display: none;
    }
    .logo-container{
        width: 70vw;
        display: inline;
    }
    .navbar-menu-container{
        align-items: center;
    }
}




@media (min-width: 1400px) {

    .products-menu{
        position: absolute;
        top: 81px;
        right: 30vw;
        background: white;
        border: 2px solid var(--gray);
    }
    .navbar-menu-container{
        width: fit-content;
    }
    .search-bar{
        margin: 0;
    }
    .products-menu-list{
        width: 400px;
    }
    .products-preview{
        width: 400px;
        margin: 32px 0;
    }
    .product-card{
        width: 400px;
        margin: 32px 32px;
        padding: 26px;
    }
    .logo-container{
        width: 30%;
    }
}