:root{
    --primary-color: #3C4048;
    --secondary-color: #00ABB3;
    --gray: #B2B2B2;
    --old-white: #EAEAEA;
    --font: 'Red Rose', cursive;
    --tittle-size: 3.5rem;
    --subtittle-size: 2rem;
    --paragraph-size: 1.6rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: var(--font);
}
main{
    background-color: var(--old-white);
    padding: 32px 0;
}

.main-container{
    width: 90%;
    padding-bottom: 50px;
    margin: 0 5%;
}
.img-profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    margin: 32px 0;
    padding: 16px;
    border: 1px solid var(--gray);
}

.profile-option{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 16px;
    border: 1px solid var(--gray);
}
.subtitle{
    font-size: var(--subtittle-size);
}
.paragraph{
    font-size: var(--paragraph-size);
    font-weight: 300;
}